{% extends 'base.html.twig' %}

{% set title = 'Редактирование организации' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a href="{{ path('sanction_list_admin_organization_index') }}">К списку организаций</a>
    <h1>{{ title }}</h1>

    {{ include('organization/_form.html.twig', {'button_label': 'Сохранить'}) }}

    {{ include('organization/_delete_form.html.twig') }}
{% endblock %}
