{% extends 'base.html.twig' %}

{% set title = 'Список организаций, которым объявили санкции' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-right">
            <a href="{{ path('sanction_list_admin_organization_new') }}" class="btn btn-link">Новая организация</a>
        </div>
    {% endif %}
    <table class="table table-striped table-bordered text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2">
                Название/<br>Реквизиты/<br>Статус
            </th>
            <th scope="col" rowspan="2">Страна, которая объявила санкции</th>
            <th scope="col" colspan="2" class="text-center">Дата</th>
            <th scope="col" rowspan="2">Директивы</th>
            <th scope="col" rowspan="2" class="text-center">Дата/<br>Создания/<br>Обновления</th>
            <th scope="col" rowspan="2">Действия</th>
        </tr>
        <tr>
            <th scope="col">Включения</th>
            <th scope="col">Исключения</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <th scope="row">{{ loop.index + offset }}</th>
                <td>
                    {{ organization.name }}
                    <br>{{ organization.requisite }}
                    <br>{{ organization.statusOrg }}
                </td>
                <td>{{ organization.country }}</td>
                <td>{{ organization.dateInclusion ? organization.dateInclusion|format_datetime('medium', 'short', '', 'UTC') : '' }}</td>
                <td>
                    {% if (organization.dateExclusion) %}
                        {{ organization.dateExclusion|date('d.m.Y') }}
                    {% elseif (organization.unknownExcDate == '1') %}
                        <i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip"
                           data-placement="bottom" title="До распоряжения об отмене санкций"></i>
                    {% endif %}
                </td>
                <td>{{ organization.directive }}</td>
                <td>
                    {{ organization.dateCreate ? organization.dateCreate|date('d.m.Y H:i:s') : '' }}
                    <br>
                    {{ organization.dateUpdate ? organization.dateUpdate|date('d.m.Y H:i:s') : '' }}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('sanction_list_admin_organization_show', {'id': organization.id}) }}"
                           class="btn btn-info" data-toggle="tooltip" title="Просмотр"><i class="fa fa-eye"
                                                                                          aria-hidden="true"></i></a>
                        <a href="{{ path('sanction_list_admin_organization_edit', {'id': organization.id}) }}"
                           class="btn btn-secondary" data-toggle="tooltip" title="Изменить"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="{{ path('sanction_list_organization_show', {'id': organization.id}) }}"
                           class="btn btn-info" data-toggle="tooltip" title="Просмотр"><i class="fa fa-eye"
                                                                                          aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination|raw }}
{% endblock %}