{% extends 'base.html.twig' %}

{% set title = organization.name %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a href="{{ path('sanction_list_admin_organization_index') }}" class="btn btn-link">К списку организаций</a>
    <h1>{{ title }} <small>{{ organization.requisite }}</small></h1>

    <table class="table">
        <tbody>
        {% if organization.statusOrg is not null %}
            <tr>
                <th>Статус организации</th>
                <td>{{ organization.statusOrg }}</td>
            </tr>
        {% endif %}
        {% if organization.country is not null %}
            <tr>
                <th>Страна, которая применила санкции</th>
                <td>{{ organization.country }}</td>
            </tr>
        {% endif %}
        {% if organization.dateInclusion is not null %}
            <tr>
                <th>Дата включения</th>
                <td>{{ organization.dateInclusion ? organization.dateInclusion|date('d.m.Y') : '' }}</td>
            </tr>
        {% endif %}
        {% if organization.dateExclusion is not null or organization.unknownExcDate is not null %}
            <tr>
                <th>Дата исключения</th>
                <td>{{ organization.dateExclusion ? organization.dateExclusion|date('d.m.Y')
                    : (organization.unknownExcDate == '1' ? 'До распоряжения об отмене санкций' : '') }}</td>
            </tr>
        {% endif %}
        {% if organization.directive is not null %}
            <tr>
                <th>Директива</th>
                <td>{{ organization.directive }}</td>
            </tr>
        {% endif %}
        {% if organization.basic is not null %}
            <tr>
                <th>Основание для введения санкций</th>
                <td>{{ organization.basic }}</td>
            </tr>
        {% endif %}
        {% if organization.dateCreate is not null %}
            <tr>
                <th>Дата создания</th>
                <td>{{ organization.dateCreate ? organization.dateCreate|date('d.m.Y H:i:s') : '' }}</td>
            </tr>
        {% endif %}
        {% if organization.dateUpdate is not null %}
            <tr>
                <th>Дата обновления</th>
                <td>{{ organization.dateUpdate ? organization.dateUpdate|date('d.m.Y H:i:s') : '' }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('sanction_list_admin_organization_edit', {'id': organization.id}) }}"
           class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Изменить</a>
        &nbsp;
        <div class="float-right">
            {{ include('organization/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
