{% extends 'base.html.twig' %}

{% set title = 'Список стран' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
{#    <a href="{{ path('sanction_list_admin_organization_index') }}" class="btn btn-link">К списку организаций</a>#}
    <h1>{{ title }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-right">
            <a href="{{ path('sanction_list_admin_country_new') }}" class="btn btn-link">Новая страна</a>
        </div>
    {% endif %}
    <table class="table table-striped table-bordered text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2">Название</th>
            <th scope="col" colspan="2" class="text-center">Дата</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col" rowspan="2">
                    Действия&nbsp;&nbsp;&nbsp;
                </th>
            {% endif %}
        </tr>
        <tr>
            <th scope="col">Создания</th>
            <th scope="col">Обновления</th>
        </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <th scope="row">{{ loop.index + offset }}</th>
                <td>{{ country.name }}</td>
                <td>{{ country.dateCreate ? country.dateCreate|date('d.m.Y H:i:s') : '' }}</td>
                <td>{{ country.dateUpdate ? country.dateUpdate|date('d.m.Y H:i:s') : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('sanction_list_admin_country_show', {'id': country.id}) }}"
                           class="btn btn-info" data-toggle="tooltip" title="Просмотр"><i class="fa fa-eye"
                                                                                          aria-hidden="true"></i></a>
                        <a href="{{ path('sanction_list_admin_country_edit', {'id': country.id}) }}"
                           class="btn btn-secondary" data-toggle="tooltip" title="Изменить"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination|raw }}
{% endblock %}
