{% extends 'base.html.twig' %}

{% set title = country.name %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <a href="{{ path('sanction_list_admin_country_index') }}" class="btn btn-link">К списку стран</a>
    <h1>{{ title }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Дата внесения данных</th>
            <td>{{ country.dateCreate ? country.dateCreate|date('d.m.Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Дата изменения данных</th>
            <td>{{ country.dateUpdate ? country.dateUpdate|date('d.m.Y H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('sanction_list_admin_country_edit', {'id': country.id}) }}"
           class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Изменить</a>
        &nbsp;
        <div class="float-right">
            {{ include('country/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
