<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Добавление санкций</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% set pathInfo = app.request.pathinfo %}
            {% set pathRoute = app.request.get ('_route') %}
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item {% if pathRoute matches '/sanction_list_admin_organization*/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('sanction_list_admin_organization_index') }}">Добавить
                    организацию</a>
            </li>
            <li class="nav-item {% if pathRoute matches '/sanction_list_admin_country*/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('sanction_list_admin_country_index') }}">Добавить страну</a>
            </li>
            <li class="nav-item {% if pathRoute matches '/sanction_list_admin_directive_*/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('sanction_list_admin_directive_index') }}">Добавить
                    директиву</a>
            </li>
            {#<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Добавление санкций
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('sanction_list_admin_organization_index') }}">Добавить оргаризацию</a>
                    <a class="dropdown-item" href="{{ path('sanction_list_admin_country_index') }}">Добавить страну</a>
                    <a class="dropdown-item" href="{{ path('sanction_list_admin_directive_index') }}">Добавить
                        директиву</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/files/sanctions_list/sanctions_list_documentation.pdf">Памятка по функционалу</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенный</a>
            </li>#}
        </ul>
    </div>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item pull-right">
                <a class="nav-link" href="{{ path('sanction_list_admin_directive_index') }}"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>