{% extends 'base.html.twig' %}

{% set title = 'Список директив' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-right">
            <a href="{{ path('sanction_list_admin_directive_new') }}" class="btn btn-link">Новая директива</a>
        </div>
    {% endif %}
    <table class="table table-striped table-bordered text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2">Название</th>
            <th scope="col" rowspan="2">Описание</th>
            <th scope="col" colspan="2" class="text-center">Дата</th>
            <th scope="col" rowspan="2">Действия</th>
        </tr>
        <tr>
            <th scope="col">Создания</th>
            <th scope="col">Обновления</th>
        </tr>
        </thead>
        <tbody>
        {% for directive in directives %}
            <tr>
                <th scope="row">{{ loop.index + offset }}</th>
                <td>{{ directive.name }}</td>
                <td>{{ directive.description }}</td>
                <td>{{ directive.dateCreate ? directive.dateCreate|date('d.m.Y H:i:s') : '' }}</td>
                <td>{{ directive.dateUpdate ? directive.dateUpdate|date('d.m.Y H:i:s') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('sanction_list_admin_directive_show', {'id': directive.id}) }}"
                           class="btn btn-info" data-toggle="tooltip" title="Просмотр"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{{ path('sanction_list_admin_directive_edit', {'id': directive.id}) }}"
                           class="btn btn-secondary" data-toggle="tooltip" title="Изменить"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="{{ path('sanction_list_directive_show', {'id': directive.id}) }}"
                           class="btn btn-info" data-toggle="tooltip" title="Просмотр"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination|raw }}
{% endblock %}
